body {
    width: 300px;
    height: 300px;
    background-color: #120E43;
    display: flex;
    justify-content: center;
}

p {
    display: inner-flex;
    margin: auto 10px;
    font-size: 22px;
    color: #FF6666;
    border-radius: 6px;
    border: 1px solid #CAD5E2;
    padding: 10px;
}